@model Walton_Happy_Travel.Models.ViewBrochuresViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Browse";
}

<h2>Brochures</h2>

<div class="row">
    @foreach(var brochure in Model.Brochures)
    {
        <div class="col-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">
                                <label style="font-size:23px;color:steelblue;">@brochure.Accomodation.AccomodationName</label>
                            </h4>
                        </div>

                        <img class="card-img-top" style="height:100%;" src="@brochure.ImageLink" alt="Card Image" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <label style="font-size:20px; color:#a51313"><b>£@brochure.PricePerPerson</b> per/person</label>
                                </div>
                                <a asp-action="Details" asp-controller="Brochure" class="btn pull-right btn-outline-info fas fa-plane-departure" asp-route-id="@brochure.BrochureId"> View Details</a>
                            </div>
                                <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>

                    </div>
                </div>
    }
</div>