@model Walton_Happy_Travel.Models.Person

<label asp-for="Forename" class="control-label"></label>
<input asp-for="Forename" class="form-control" />

<label asp-for="MiddleNames" class="control-label"></label>
<input asp-for="MiddleNames" class="form-control" />

<label asp-for="Surname" class="control-label"></label>
<input asp-for="Surname" class="form-control" />

<label asp-for="DateOfBirth" class="control-label"></label>
<input asp-for="DateOfBirth" class="form-control" />