@model Walton_Happy_Travel.Models.AddNumberOfPeopleViewModel

@{
    ViewData["Title"] = "Add people to booking";
}

@using (Html.BeginForm("AddNumberOfPeople", "Person"))
{
    @Html.HiddenFor(m => m.BookingId)

    <label asp-for="PeopleAdded" class="control-label"></label>
    <input asp-for="PeopleAdded" class="form-control" />

    <div class="form-group">
        <input type="submit" value="Add People" name="AddNumberOfPeople" class="btn btn-primary" />
    </div>
}
