@model Walton_Happy_Travel.Models.AddNumberOfPeopleViewModel

@{
    ViewData["Title"] = "Add people to booking";
}

@using (Html.BeginForm("AddNumberOfPeople", "Person"))
{
    @Html.HiddenFor(m => m.BookingId)

    <div class="form-control">
        <label asp-for="PeopleAdded" class="control-label"></label>
        <label class="text-muted">Maximum Number of People: @Model.MaxPeople</label>
    </div>
    <input asp-for="PeopleAdded" class="form-control" />

    if(Model.ErrorMessage.Length > 0)
    {
        <label class="text-danger">Error: @Model.ErrorMessage</label>
    }

    <div class="form-group">
        <input type="submit" value="Add People" name="AddNumberOfPeople" class="btn btn-primary" />
    </div>
}
