@{
    ViewData["Title"] = "About";
}
<<<<<<< HEAD
=======

>>>>>>> c089588605b4ee3cede64435b177a54f071bfe1e
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
