@model Walton_Happy_Travel.Models.Booking

@{
<<<<<<< HEAD
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoOfRooms" class="control-label"></label>
                <input asp-for="NoOfRooms" class="form-control" />
                <span asp-validation-for="NoOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" class="form-control"></select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialRequirements" class="control-label"></label>
                <input asp-for="SpecialRequirements" class="form-control" />
                <span asp-validation-for="SpecialRequirements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BrochureId" class="control-label"></label>
                <select asp-for="BrochureId" class ="form-control" asp-items="ViewBag.BrochureId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
=======
    ViewData["Title"] = "Make Booking";
}

<h2>Make Booking</h2>
<hr />
<div class="row">
    <div class="col-md-4">
>>>>>>> c089588605b4ee3cede64435b177a54f071bfe1e
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

